<div class="outerCafe">
    <ng-container *ngFor="let value of data;">
   
      <a href="{{value.link}}" target="_blank" class="card-link">
        <mat-card class="example-card">
          <div class="card-image-overlay"></div>
          <img mat-card-image src="https://www.newdelhiairport.in/src/images/shop-dine/01.jpg" alt="Shops">
          <mat-card-content>
            <p class="card-text">{{value.name}}</p>
          </mat-card-content>
        </mat-card>
      </a>
    </ng-container>
    </div>
