.outerCafe {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  // background-color: #f7f7f7;
  // border-radius: 10px;
  margin: 0 auto 0;
}

.example-card {
  display: flex;
  width: 85%;

  // Shivani
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.card-link {
  display: flex;
  text-decoration: none;
  color: inherit;
  position: relative;
  justify-content: center;
  // padding: 1rem 0 1rem 0;

  // Shivani
  padding: 1rem 0;
  transition: transform 0.3s ease-in-out;
}

// Shivani
.card-link:hover {
  transform: scale(1.05);
}

.card-image-overlay {
  position:relative;
  bottom: 0px;
  left: 0;
  width: 100%;

  // Vishal
  // height: 21%;
  // /* Adjust the height of the overlay as needed */
  // background: rgba(0, 0, 0, 0.5);
  // /* Semi-transparent black background */
  // z-index: 2;

  // Shivani
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  /* Add a gradient overlay */
  z-index: 2;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

// Shivani
.card-link:hover .card-image-overlay {
  opacity: 1;
}

.card-text {
  position: absolute;

  // Vishal
  // bottom: 0px;
  // /* Adjust the distance from the bottom as needed */
  // left: 10px;
  // /* Adjust the distance from the left as needed */
  // color: white;
  // /* Text color on the overlay */
  // font-size: 16px;
  // /* Adjust the font size as needed */
  // margin: 0;
  // z-index: 3;

  // Shivani
  bottom: 1px;
  left: 15px;
  color: rgb(20, 20, 20);
  font-size: 14px;
  margin: 0;
  z-index: 3;
  font-weight: bold;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0px !important;
}



// Shivani Start
.mat-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.mat-card:hover {
  transform: scale(1.05);
}

// Shivani End