.outerStatus{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.internalbuttons{
    justify-content: center;
    display: flex;
    flex-direction: row;
    //padding: 2rem;
}
.selected{
    background-color: #faa71b;
}
.stylling
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.errorClass{
    color: red;
}

thead{
    background-color: #00688030 !important;
  }
