.outerStatus{
    display: flex;
    flex-direction: column;
}
.internalbuttons{
    flex-direction: row;
}
.selected{
    background-color: #faa71b;
}
.stylling
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.errorClass{
    color: red;
}