/* You can add global styles to this file, and also import other style files */
html,
body {
  //height: 100%;
  /* styles.css or your custom CSS file */
  //background-image: url('assets/background.png'); (For Punjab Govt)
  background-image: url('assets/BackgroundDelhi.png'); //(For Hamad Airport)
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* optional, makes the background fixed while scrolling */
}

i,
a,
button {
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.blurClass {
  background-color: rgba(255, 255, 255, .3);
  backdrop-filter: blur(10px);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


//scroll bar styling starts
::-webkit-scrollbar {
  //background: #eaeaee;  //Previous color
  background: #e2e2e2;
  box-shadow: inset 0 0 4px rgba(40, 92, 157, 0.61);
  height: 6px;
  //overflow-y: scroll;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  //background: rgba(40, 92, 157, 0.61);  //Previous color
  background: #a7a7a7;
  border-radius: 10px;
}

//scroll bar styling ends
.internalBlurClass {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
}

a {
  text-decoration: none;
}

.buttonStyling {
  padding: 0.5rem;
}

.mat-mdc-form-field-has-icon-prefix .mat-mdc-text-field-wrapper {
  height: 3rem !important;
}



.tableStylling {
  padding: 1rem 0 1rem 0;
}

.mat-mdc-form-field {
  width: -webkit-fill-available
}