// Vishal Start
// .weatherContainer
// {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
// }


// .weather__body {
//     text-align: center;
//     margin-top: 1rem;
// }

// .weather__datetime {
//     margin-bottom: 1rem;
//     font-size: 14px;
// }

// .weather__forecast {
//     background: #c4bebe;
//     display: inline-block;
//     padding: 0.5rem 1rem;
//     border-radius: 30px;
// }

// .weather__icon img {
//     width: 100px;
// }

// .weather__temperature {
//     font-size: 1.75rem;
// }

// .weather__minmax {
//     display: flex;
//     justify-content: center;
// }

// .weather__minmax p {
//     font-size: 14px;
//     margin: 0.5rem;
// }

// .weather__info {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-gap: 1rem;
//     margin-top: 1rem;
// }

// .weather__card {
//     display: flex;
//     align-items: center;
//     background: #c4bebe;
//     padding: 0.67rem;
//     border-radius: 10px;
// }

// .weather__card i {
//     font-size: 1.5rem;
//     margin-right: 1rem;
// }

// .weather__card p {
//     font-size: 14px;
// }
// Vishal End

// Shivani Start

.weather__temperature {
    font-size: 2rem;
    font-weight: bold;
    color: #2ecc71;
    // new change
    margin-bottom: 0.5rem;
    text-align: center;
}

.weather__minmax {
    display: flex;
    justify-content: center;
    // new change 
    margin-bottom: 0.5rem;
}

.weather__minmax p {
    font-size: 16px;
    margin: 0.5rem;
    // new change 

}

.weather__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    // margin-top: 1rem;
}

.weather__card {
    display: flex;
    align-items: center;
    text-align: center;
    background: #b3c3e7;
    // background: #1dbf6e;
    // padding: 1.2rem;
    // new change
    // padding: 0.1rem;
    border-radius: 10px;
    // transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, background 0.5s ease-in-out;

}

.weather__card:hover {
    transform: scale(1.05);
}

.weather__card i {
    font-size: 2rem;
    margin-right: 1rem;
}

.weather__card p {
    // font-size: 16px;
    font-size: 13px;
    font-weight: 450;
    margin: 0.15rem;
}

/* Added animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes colorChange {
    from {
        background: #3498db;
    }

    to {
        background: #2ecc71;
    }
}


// new changes 
.weatherContainer {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 1.5rem;
}

.weather__city {
    font-size: 28px;
}

.weather__datetime {
    align-items: center;
    margin: 0 0 0 1rem;

}

.weather__icon {
    text-align: center;
}

.weather__forecast {
    text-align: center;
}

// new changes 
// .weather__icon,
// .weather__forecast {
//     display: inline-block; 
// }
//   Shivani End