<div id="close">
    <i [attr.tabindex]="0" class="material-icons close-icon" (keydown.enter)="dialogeClose()" (click)="dialogeClose()">
      cancel
    </i>
  </div>
<div class="outerclass">
  <div class="header"><app-header></app-header></div>
  <div class="main-content">
    <div *ngIf="display" class="details">
      <app-dashboard> </app-dashboard>
  </div>
    <div *ngIf="!display" [ngClass]="display == true ? 'chat-window' : 'chat-window-display'">
      <div #chatContainer class="chat-session">
          <ul class="message-list">
            <!-- <ng-container *ngIf = "typingGif == true">
              <div class="typer user-message displayMessage left-message">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              </div>
            </ng-container> -->
              <li class="user-message"
                  [ngClass]="{'left-message': message?.['origin'] != 'me', 'right-message': message?.['origin'] == 'me'}"
                  *ngFor="let message of messages">
                  <span class="displayMessage">{{ message.text }}</span>
              </li>
          </ul>
      </div>
  </div>
  </div>
  <div class="footer footerExclusive">
    <form (ngSubmit)="sendMessage()" class="message-input-form">
      <div class="inputbox">
    <input type="text" id="message" name="message" autocomplete="off" [(ngModel)]="message" placeholder="Chat with AI Chatbot">
  </div>
  <div>
     <button mat-icon-button class="example-icon">
          <mat-icon class="send-icon">send</mat-icon>
      </button>
    </div>
  </form>
  
    <p>Powered by <a href="https://glorinz.com/"> Glorius Insight</a></p>
  </div>
</div>

