.tileContainer {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OuterStyllingCss {
    padding: 2rem;
}

.OuterStyllingCssnew {
    margin-bottom: 8rem;
    //padding-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.extrapadd {
    padding: 0 1rem 0 1rem;
}

// Vishal
// ul {
//     padding: 0rem;
//     list-style: none;
// }


//Shivani Start 
.cab-section {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    // margin: 80px auto 0;
    font-size: 16px;
    margin: 0 auto 0;
}

.accordion-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

mat-expansion-panel {
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

mat-expansion-panel-header {
    // background-color: #3498db;
    background-color: rgb(235, 238, 253);
    color: #fff;
}

mat-panel-title {
    font-size: 14px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 8px;
    line-height: 1.6;
}

a {
    color: #3498db;
    text-decoration: underline;
}

a:hover {
    color: #1e87d5;
}

// Shivani End

// Shivani Start
.immigration-section {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    margin: 80px auto 0;
    font-size: 16px;
    margin: 0 auto 0;
}

.accordion-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

mat-expansion-panel {
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    // background-color: #fff;
    // background-color: rgb(235, 238, 253);
}

mat-expansion-panel-header {
    // color: #fff;
    background-color: rgb(235, 238, 253);
  
}

mat-panel-title {
    font-size: 14px;
    // font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 8px;
    line-height: 1.6;
}

a {
    color: #3498db;
    text-decoration: underline;
}

a:hover {
    color: #1e87d5;
}


//   Shivani End

// Shivani Start
.cargo-section {
    // background: #abebff;
    background-color: #f7f7f7;
    /* Gradient background color */
    padding: 10px;
    /* Reduced padding */
    // border: 1px solid #92cdf4;
    border: 1px solid #f7f7f7;
    /* Border color */
    border-radius: 10px;
    /* Rounded corners */
    color: white;
    /* Text color */
    text-align: justify;
    /* Justify text */
    width: 80%;
    /* Adjusted width */
    margin: 0 auto;
    /* Center the container horizontally */
    max-width: 400px;
    /* Maximum width */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

.cargo-section h1 {
    font-size: 18px;
    /* Adjusted font size */
    color: black;
    margin-bottom: 10px;
    /* Adjusted margin */
    // font-weight: bold;
}

.cargo-section p {
    font-size: 12px;
    /* Adjusted font size */
    margin-bottom: 5px;
    /* Adjusted margin */
    color: black;
}

.cargo-section a {
    color: #1a2b9a;
    /* Link color */
    text-decoration: underline;
    /* Underline links */
}

.cargo-section a:hover {
    color: #ec3300;
    /* Change link color on hover */
}

//   Shivani End

// Shivani Start
.medical-section {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    // margin: 80px auto 0;
    font-size: 16px;
    margin: 0 auto 0;

}


.section-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.extra-padding {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

// Shivani End

//sharmaji starts
// ::ng-deep .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
//     background: rgb(235, 238, 253) !important;
// }
::ng-deep .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
    background: rgb(235, 238, 253) !important;
}
//sharmaji ends