<div class="outerRelax">
  <a href="https://www.newdelhiairport.in/shop" target="_blank" class="card-link">
    <mat-card class="example-card">
      <div class="card-image-overlay"></div>
      <img mat-card-image src="https://www.newdelhiairport.in/src/images/shop-dine/01.jpg" alt="Shops">
      <mat-card-content>
        <p class="card-text">Shops</p>
      </mat-card-content>
    </mat-card>
  </a>

  <a href="https://www.newdelhiairport.in/eat-and-dine/" target="_blank" class="card-link">
    <mat-card class="example-card">
      <div class="card-image-overlay"></div>
      <img mat-card-image src="https://www.newdelhiairport.in/src/images/shop-dine/eat.jpg" alt="Dine and Eat">
      <mat-card-content>
        <p class="card-text">Eat & Dine</p>
      </mat-card-content>
    </mat-card>
  </a>

  <a href="https://www.newdelhiairport.in/services" target="_blank" class="card-link">
    <mat-card class="example-card">
      <div class="card-image-overlay"></div>
      <img mat-card-image src="https://www.newdelhiairport.in/src/images/shop-dine/service.jpg" alt="Services">
      <mat-card-content>
        <p class="card-text">Services</p>
      </mat-card-content>
    </mat-card>
  </a>
</div>
